<h1>Admin Panel</h1>

<form action="/admin" method="post">
    <div class="form-group">
      <label>Login </label>
      <input name="login" type="text" class="form-control" placeholder="Input login" value="<%=@login%>" required>
      <label>Password </label>
      <input name="password" type="text" class="form-control" placeholder="Input password" value="<%=@password%>" required>

      <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%= @report %>
