<h3><%= @message %> </h3>

<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li><a href="/">Home</a></li>
    <li><a href="/visit">Back</a></li>
  </ul>
</div><!--/.nav-collapse -->
